{{- $scripts := dict }}
{{- $mapOfScripts := dict
    "urlWorkerMergeReportsScript" "js/worker/worker-merge-reports.js"
    "urlWorkerReportScript" "js/worker/worker-report.js"
    "urlScoringScript" "js/worker/scoring.js"
    "urlTemplatingScript" "js/worker/templating.js"
}}
{{- range $scriptKey, $scriptPath := $mapOfScripts }}
    {{- $scriptResource := resources.Get $scriptPath }}
    {{- $scriptResource = $scriptResource | js.Build (dict "targetPath" $scriptPath "minify" true) }}
    {{- $scriptResourceUrl := $scriptResource.RelPermalink }}
    {{- $scripts = $scripts | merge (dict $scriptKey $scriptResourceUrl) }}
{{- end }}
{{- return $scripts }}