{{- define "main" }}
<div x-data="useKeyboardActions" class="h-full">
    <div x-data="viewTutorial" x-init="initTutorial(); initKeyboardActions('tutorialId');"
        x-bind="{ ...yArrowsActions, ...xArrowsActions, ...enterActions, ...alphabetActions }"
        class="h-full flex flex-col items-center justify-center p-9 relative">
        {{- partialCached "base/burger" (dict "currentPage" . ) .Section }}
        <div :class="{ 'opacity-20': $store.app.burgerIsOpen }" class="w-full flex-grow">
            <h1 class="text-xl font-bold mb-9">{{ .Title }}</h1>
            <div class="mb-9">{{ .Content }}</div>
        </div>
        <div :class="{ 'opacity-20': $store.app.burgerIsOpen }" class="w-full flex justify-center">
            {{ with .GetPage "tutorial-001" }}
                <a 
                    x-ref="main-button" 
                    class="inline-flex justify-center w-96 px-6 py-3 gap-2 bg-blue-500 hover:bg-blue-700 text-white rounded-full"
                    href="{{ .RelPermalink }}">{{ T "next" }}
                </a>
            {{ end }}
        </div>
    </div>
</div>
{{- end }}