{{- define "main" }}
<div x-data="useKeyboardActions" class="h-full">
    <div x-data="viewTutorial" x-init="initTutorial('do'); initKeyboardActions('tutorialId');"
        x-bind="{ ...yArrowsActions, ...xArrowsActions, ...enterActions, ...alphabetActions }"
        class="h-full flex flex-col items-center justify-center p-9 relative">
        {{- partialCached "base/burger" (dict "currentPage" . ) .Section }}
        <div x-bind="opacity" class="w-full flex-grow">
            <h1 class="text-xl font-bold mb-9">{{ .Title }}</h1>
            <div class="mb-9">{{ .Content }}</div>
            <div class="fake-elements">
                <div 
                    x-ref="tab-0"
                    x-bind="fakeItem(0)"
                    class="tab-element p-3 my-3 rounded border shadow-md font-mono font-bold cursor-pointer"
                >
                    <p class="text-xl text-gray-500">1. Star-Lord</p>
                </div>
                <div 
                    x-ref="tab-1"
                    x-bind="fakeItem(1)"
                    class="tab-element p-3 my-3 rounded border shadow-md font-mono font-bold cursor-pointer"
                >
                    <p class="text-xl text-gray-500">2. Gamora</p>
                </div>
                <div 
                    x-ref="tab-2"
                    x-bind="fakeItem(2)"
                    class="tab-element p-3 my-3 rounded border shadow-md font-mono font-bold cursor-pointer"
                >
                    <p class="text-xl text-gray-500">3. Drax</p>
                </div>
                <div 
                    x-ref="tab-3"
                    x-bind="fakeItem(3)"
                    class="tab-element p-3 my-3 rounded border shadow-md font-mono font-bold cursor-pointer"
                >
                    <p class="text-xl text-gray-500">4. Rocket</p>
                </div>
                <div 
                    x-ref="tab-4"
                    x-bind="fakeItem(4)"
                    class="tab-element p-3 my-3 rounded border shadow-md font-mono font-bold cursor-pointer"
                >
                    <p class="text-xl text-gray-500">5. Groot</p>
                </div>
            </div>
        </div>
        <div x-bind="opacity" class="w-full flex justify-center">
            {{- with .Parent.GetPage "tutorial-002" }}
                <a 
                    x-ref="main-button" 
                    x-bind="goToNextTutorialButton('{{ .RelPermalink }}')" 
                    class="inline-flex justify-center w-96 px-6 py-3 gap-2 text-white rounded-full"
                    href="#">{{ T "next" }}
                </a>
            {{- end }}
        </div>
    </div>
</div>
{{- end }}