{{- define "main" }}
{{- $questionnaire := . }}
<div x-data="useKeyboardActions" class="h-full flex flex-col items-center justify-center p-9 relative">
    {{- partial "base/burger" (dict "currentPage" . "questionnairesPage" true "questionnairePage" true "mapPage" true "mapPageIndex" 1) .Section }}
    <div
        x-data="viewIntro"
        x-init="initIntro(); initKeyboardActions('menu');"
        x-bind="{ ...yArrowsActions, ...xArrowsActions, ...enterActions, ...alphabetActions }"
        :class="{ 'opacity-20': $store.app.burgerIsOpen }"
        class="w-full flex-grow"
    >
        <p class="text-sm text-center text-gray-500 mb-6">
            {{ $questionnaire.LinkTitle  }}
        </p>
        <h1 class="text-xl font-bold mb-9">{{ .Title | lower | strings.FirstUpper }}</h1>
        <div class="mb-9">{{ .Content }}</div>
    </div>
    <div :class="{ 'opacity-20': $store.app.burgerIsOpen }" class="w-full flex justify-center">
        {{- range (.Pages.ByParam "order").Limit 1 }}
            {{- with .PrevInSection }}
                <a x-ref="page-right" href="{{ .RelPermalink }}" class="hidden">{{ T "next" }}</a>
            {{- end }}
            <a 
                x-ref="main-button"
                class="inline-block w-96 px-6 py-3 bg-blue-500 hover:bg-blue-700 rounded-full text-white text-center"
                href="{{ .RelPermalink }}">
                {{ T "next" }}
            </a>
        {{- end }}
    </div>
</div>
{{- end }}