{{- define "main" }}
{{- $paginator := .Paginate (.RegularPages.ByParam "order") site.Params.paginateSize.maps }}
<div x-data="useKeyboardActions" class="h-full">
    <div 
        x-data="viewQuestionnaireMap" 
        x-init="initQuestionnaireMap(); initKeyboardActions('itemId');" 
        x-bind="{ ...yArrowsActions, ...xArrowsActions, ...enterActions, ...alphabetActions }"
        class="h-full flex flex-col items-center justify-center p-9 relative"
    >
        {{- partialCached "base/burger" (dict "currentPage" . "questionnairesPage" true
            "questionnairePage" true) .Section }}
        <div :class="{ 'opacity-20': $store.app.burgerIsOpen }" class="w-full flex-grow flex flex-col">
            <p 
                x-ref="title"
                data-title="{{ .LinkTitle }}"
                class="text-sm text-center text-gray-500 mb-6">
            </p>
            <h1 class="text-xl font-bold mb-9">{{ .Title }}</h1>
            <div class="mb-9">{{ T "mapInfo" }}.</div>
            <div class="flex-grow flex flex-col">
                <div class="flex-grow">
                    <div class="grid gap-4">
                        {{- range $paginator.Pages }}
                            <div
                                x-ref="tab-{{ .Params.id }}"
                                x-bind="itemMapButton('{{ .Params.id }}', '{{ .RelPermalink }}')"
                                class="tab-element w-full flex justify-between p-3 rounded border shadow-md"
                                href="{{ .RelPermalink }}"
                            >
                                <div>
                                    <p>{{- .LinkTitle }}</p>
                                </div>
                                <div x-cloak class="flex gap-2 items-center italic text-sm text-gray-400">
                                    <template x-if="$store.session.getAnswer('{{ .Params.id }}')">
                                        <span>
                                            <span 
                                                x-show="$store.session.getAnswerValue('{{ .Params.id }}') === ''"
                                            >
                                                {{ T "answerWasOmitted" }}
                                            </span>
                                            <span 
                                                x-show="$store.session.getAnswerValue('{{ .Params.id }}') !== ''"
                                            >
                                                {{ T "answerWasGiven" }}
                                            </span>
                                        </span>
                                    </template>
                                    <span x-bind="showDot('{{ .Params.id }}')">&#9679;</span>
                                </div>
                            </div>
                        {{- end }}
                    </div>
                </div>
                {{- with gt $paginator.TotalPages 1 }}
                    {{- partial "base/paginator" $paginator }}
                {{- end }}
            </div>
        </div>
        <div :class="{ 'opacity-20': $store.app.burgerIsOpen }" class="w-full flex justify-center">
            <a 
                x-ref="main-button" 
                x-bind="goToItemButton"
                class="inline-flex justify-center w-96 px-6 py-3 gap-2 rounded-full text-white" 
                href="#">{{ T "selectItem" }}
            </a>
        </div>
    </div>
</div>
{{- end }}