<!doctype html>
<html lang="{{ .Site.Language }}" class="h-full">
    <head>
        {{- partialCached "base/head" . }}
    </head>
    {{- $urls := partialCached "base/worker-related" . }}
    <body 
        hx-boost="true"
        hx-swap="transition:true"
        hx-push-url="true"
        hx-history="true"
        x-data="viewBase"
        x-init="initBase({{ $urls | jsonify }}); "
        x-bind="htmxEvents"
        class="h-full flex flex-col min-w-[600px] w-full mx-auto bg-white relative"
    >
        <div x-show="$store.app.lockUI" class="absolute w-full h-full top-0 bottom-0 left-0 right-0 opacity-40 bg-gray-500 z-50"></div>
        <div 
            class="flex-grow"
        >
            {{- block "main" . }}
            {{- end }} 
        </div>
    </body>
</html>
