{{- $items := dict }}
{{- $questionnairesSection := site.GetPage "questionnaires" }}
{{- $questionnaire := $questionnairesSection.GetPage .questionnaireId }}
{{- $questionnaireJsonFromData := index site.Data.questionnaires .questionnaireId }}
{{- $questionnaireJsonFromPage := $questionnaire.Resources.Get "specs.json" | unmarshal }}
{{- range $questionnaire.Pages.ByParam "order" }}
  {{- $currentItem := dict "layout" .Layout "id" .Params.id "order" .Params.order "text" .RenderShortcodes "options" .Params.options }}
  {{- $items = $items | merge (dict .Params.id $currentItem ) }}
{{- end }}
{{- $merged := merge $questionnaireJsonFromData $questionnaireJsonFromPage (dict "items" $items) }}
{{- return $merged  }}